Retrieving CSV Data from GitHub Repo and Unzipping

In [5]:
# !wget https://github.com/vz-risk/VCDB/archive/refs/heads/master.zip # Download entire Github repo
!wget https://github.com/vz-risk/VCDB/raw/master/data/csv/vcdb.csv.zip # Download only the csv zip

!unzip /content/vcdb.csv.zip

--2022-11-01 20:36:32--  https://github.com/vz-risk/VCDB/raw/master/data/csv/vcdb.csv.zip
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/vz-risk/VCDB/master/data/csv/vcdb.csv.zip [following]
--2022-11-01 20:36:32--  https://raw.githubusercontent.com/vz-risk/VCDB/master/data/csv/vcdb.csv.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11975302 (11M) [application/zip]
Saving to: ‘vcdb.csv.zip’

vcdb.csv.zip        100%[===================>]  11.42M  --.-KB/s    in 0.1s

2022-11-01 20:36:33 (108 MB/s) - ‘vcdb.csv.zip’ saved [11975302/11975302]

Archive:  /content/vcdb.csv.zip
  inflating: vcdb.csv
  inflating: data/dbir/VCDB/data/csv/vcdb.csv

In [6]:
import pandas as pd
from collections import Counter
import numpy as np

In [24]:
df = pd.read_csv('/content/data/dbir/VCDB/data/csv/vcdb.csv', low_memory=False)

count_row = df.shape[0]
count_col = df.shape[1] 
print('rows: ', count_row)
print ('columns: ', count_col)

rows:  9349
columns:  2550

In [25]:
df.head()

,action.environmental.notes,action.environmental.variety.Deterioration,action.environmental.variety.Earthquake,action.environmental.variety.EMI,action.environmental.variety.ESD,action.environmental.variety.Fire,action.environmental.variety.Flood,action.environmental.variety.Hazmat,action.environmental.variety.Humidity,action.environmental.variety.Hurricane,...,pattern.Basic Web Application Attacks,pattern.Social Engineering,pattern.System Intrusion,pattern.Denial of Service,pattern.Everything Else,actor.Multiple,Actor,victim.industry2.31_33,victim.industry2.44_45,victim.industry2.48_49
0,NaN,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,Internal,False,False,False
1,NaN,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,Internal,False,False,False
2,NaN,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,External,False,False,False
3,NaN,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,Partner,False,False,False
4,NaN,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,External,False,False,False

For more mobile centered analysis, these are a few different attempts to obtain just mobile app related data, as there are many different labels in the VCDB, but not all are clear and consistent across the entire database

In [48]:

# See just rows where asset os is known as specified as a mobile os or mobile phone asset 
# Only returns 3 rows where asset_os was actually specifed # mobile_df = df.loc[(df['plus.asset_os.Android'])|(df['plus.asset_os.Apple iOS'])|(df['plus.asset_os.BlackBerry OS'])|(df['plus.asset_os.Windows Phone'])]
mobile_df = df.loc[(df['plus.asset_os.Android'])|(df['plus.asset_os.Apple iOS'])|(df['plus.asset_os.BlackBerry OS'])|(df['plus.asset_os.Windows Phone'])|(df["asset.assets.variety.U - Mobile phone"])]
mobile_df.loc[:,["summary","notes","asset.assets.variety.U - Mobile phone"]]

,summary,notes,asset.assets.variety.U - Mobile phone
182,Incident associated with Red October campaign....,NaN,True
551,Incident associated with Red October campaign....,NaN,True
776,Incident associated with Red October campaign....,NaN,True
950,Incident associated with Red October campaign....,NaN,True
1042,"Samsung phones sent photos to random contacts,...",NaN,False
...,...,...,...
8915,Employee sends internal doc to personal email ...,NaN,True
8939,Incident associated with Red October campaign....,NaN,True
9252,Incident associated with Red October campaign....,NaN,True
9286,Incident associated with Red October campaign....,NaN,True
9348,"A rest home worker who shared ""disgusting"" pho...",NaN,True

In [45]:
# See just rows where the vector is listed as a phone
mobile_df1 = df.loc[df['action.social.vector.Phone']]
mobile_df1.loc[:,["action.social.vector.Phone","summary","notes","asset.assets.variety.U - Mobile phone"]]


# Determined to be more of where a phone was used and less involved in mobile applications

,action.social.vector.Phone,summary,notes,asset.assets.variety.U - Mobile phone
18,True,insider cop leaked infor,NaN,False
81,True,manager stole creds and used them to unlock/un...,NaN,False
450,True,"In a scam never seen before in Ontario, a Toro...",This case involved malware and social engineer...,False
558,True,data breach by which we believe a third party ...,NaN,False
761,True,Shannen Doherty: My Ex-Manager Tricked SAG Int...,NaN,False
1418,True,"Jessica D. Robinson, 39, of Brookville, was em...",NaN,False
1667,True,"Blended attack (DDoS, phishing, malware) launc...",NaN,False
2363,True,hacked and downloaded 200GB of data from the U...,NaN,False
2787,True,The Cabinet for Health and Family Services in ...,There is a conflict in how many records were r...,False
4253,True,The Wall Street Journal reports that the CEO o...,NaN,False
5143,True,Pakistan's Inter-Services Intelligence called ...,NaN,False
5525,True,A pharmacist inadvertently provided informatio...,NaN,False
5762,True,The Twitter accounts of several high-profile u...,NaN,False
5864,True,Blue Shield of California has reported a breac...,NaN,False
6103,True,"From January to March, 2013, the ring of five ...",NaN,False
7247,True,Small business owner is deceived by external a...,NaN,False
8116,True,Client management billing platform WHMCS last ...,NaN,False
8437,True,The customer database was stolen (method unkno...,NaN,False
9180,True,External actor poses as business owner to acqu...,Unsure how employer's identification informati...,False
9287,True,suspects coolly talked their way through a rec...,NaN,False

In [46]:
# See just application mentioning mobile (but not automobiles) in their notes or summaries
mobile_df2 = df[(df['summary'].str.contains('mobile')==True)|(df['notes'].str.contains('mobile')==True)|(df['action.hacking.notes'].str.contains('mobile')==True)]
mobile_df2 = mobile_df2[(mobile_df2['summary'].str.contains('automobile')==False)|(mobile_df2['notes'].str.contains('automobile')==False)|(mobile_df2['action.hacking.notes'].str.contains('automobile')==False)]
mobile_df2.loc[:,["summary","notes","action.hacking.notes"]]

,summary,notes,action.hacking.notes
106,Trion Worlds has become the latest in a long s...,NaN,NaN
124,"Stolen mobile device places PII for over 100,0...",No information provided on device other than i...,NaN
539,The Florida Department of Juvenile Justice (DJ...,NaN,NaN
609,Hospital has two instances of mobile phone usa...,NaN,NaN
678,The Vedomosti newspaper has reported that more...,NaN,NaN
...,...,...,...
8887,Ukraine's telecommunications system has come u...,NaN,Physical access is wireless broadcasting
8968,"On July 14, a hacker stole information on 1,59...",NaN,NaN
8991,Dark web sweepers Cyble has claimed that inter...,NaN,NaN
9067,As part of Hyatt Gold Passport's routine monit...,issue: 5703 victim: hyatt naics: 721110 em...,NaN
9313,bank database hacked,NaN,It looks like the hack was made targeting the ...