<a href="https://colab.research.google.com/github/BugByt3-401/privacy-breach-reporter/blob/main/privacy_breach_reports.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Retrieving CSV Data from GitHub Repo and Unzipping

In [3]:
# !wget https://github.com/vz-risk/VCDB/archive/refs/heads/master.zip # Download entire Github repo
!wget https://github.com/vz-risk/VCDB/raw/master/data/csv/vcdb.csv.zip # Download only the csv zip

!unzip /content/vcdb.csv.zip

--2022-11-08 23:46:10--  https://github.com/vz-risk/VCDB/raw/master/data/csv/vcdb.csv.zip
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/vz-risk/VCDB/master/data/csv/vcdb.csv.zip [following]
--2022-11-08 23:46:10--  https://raw.githubusercontent.com/vz-risk/VCDB/master/data/csv/vcdb.csv.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11975302 (11M) [application/zip]
Saving to: ‘vcdb.csv.zip’

vcdb.csv.zip        100%[===================>]  11.42M  --.-KB/s    in 0.07s

2022-11-08 23:46:11 (152 MB/s) - ‘vcdb.csv.zip’ saved [11975302/11975302]

Archive:  /content/vcdb.csv.zip
  inflating: vcdb.csv
  inflating: data/dbir/VCDB/data/csv/vcdb.csv

In [4]:
import pandas as pd
from collections import Counter
import numpy as np

In [5]:
df = pd.read_csv('/content/data/dbir/VCDB/data/csv/vcdb.csv', low_memory=False)

count_row = df.shape[0]
count_col = df.shape[1] 
print('rows: ', count_row)
print ('columns: ', count_col)

rows:  9349
columns:  2550

In [7]:
df.head()

,action.environmental.notes,action.environmental.variety.Deterioration,action.environmental.variety.Earthquake,action.environmental.variety.EMI,action.environmental.variety.ESD,action.environmental.variety.Fire,action.environmental.variety.Flood,action.environmental.variety.Hazmat,action.environmental.variety.Humidity,action.environmental.variety.Hurricane,...,pattern.Basic Web Application Attacks,pattern.Social Engineering,pattern.System Intrusion,pattern.Denial of Service,pattern.Everything Else,actor.Multiple,Actor,victim.industry2.31_33,victim.industry2.44_45,victim.industry2.48_49
0,NaN,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,Internal,False,False,False
1,NaN,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,Internal,False,False,False
2,NaN,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,External,False,False,False
3,NaN,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,Partner,False,False,False
4,NaN,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,External,False,False,False

Warning: Total number of columns (2550) exceeds max_columns (20) limiting to first (20) columns.

PrivacyBreach.org "Type of Business" Values


*   BSF - Businesses (Financial and Insurance Services)

*   BSO - Businesses (Other)

*   BSR - Businesses (Retail/Merchant including Online Retail)

*   EDU - Educational Institutions

*   GOV - Government & Military

*   MED - Healthcare, Medical Providers and Medical Insurance Services

*   NGO - Nonprofits

*   UNKN - Unknown

In [8]:
# get all unique values for the victim.industry.name column
df["victim.industry.name"].unique()

array(['Public ', 'Professional ', 'Healthcare ', 'Information ',
       'Utilities ', 'Other Services ', 'Finance ', 'Educational ',
       'Retail ', 'Manufacturing ', 'Accomodation ', 'Transportation ',
       'Construction ', 'Administrative ', 'Unknown', 'Trade ',
       'Entertainment ', 'Real Estate ', 'Management ', 'Mining ',
       'Agriculture '], dtype=object)

Mapping PrivacyBreach.org Business types to these unique values: 
*   BSF - Businesses (Financial and Insurance Services)
  -   Finance
*   BSO - Businesses (Other)
  - Entertainment
  - Agriculture
  - Transportation
  - Other Services
  - Administrative
  - Utilities
  - Construction
  - Real Estate
  - Mining
  - Management
  - Other Services
  - Accomodation (Spelt as Accommodation in NAICS and Accomodation in VCDB)
  - Utilities
  - Manufacturing
  - Professional
  - Information
*   BSR - Businesses (Retail/Merchant including Online Retail)
  -   Retail
  - Trade
*   EDU - Educational Institutions
  -   Educational
*   GOV - Government & Military
  -   Public
*   MED - Healthcare, Medical Providers and Medical Insurance Services
  -   Healthcare
*   NGO - Nonprofits
  -   
*   UNKN - Unknown
  -   Unknown

 Information, accoridng to the NAICS list, is the sector that contrains Data Processing, Hosting, and Related Services, which makes it useful to note for various aspects of this research. It also includes media and publishing industries, as well as telecommunication carriers, so it alone cannot classify a data broker in the VCDB

PrivacyBreach.org "Type of Breach" Values

The classfying here does not have as good of a 1:1 mapping as the Type of Business does with the VCDB. Instead, identifying a few key values from the enumerations of the VCDB that correspond to each type, and then creating dummy variables for classification that is 1 only when all of those key values are true would likely be the best option (http://veriscommunity.net/enums.html). An example would be, for DISC, requiring discovery_method.external.variety.Actor disclosure to be true and attribute.confidentialtity.data_disclosure.Potentially or attribute.confidentialtity.data_disclosure.Yes to be true. 

*   CARD - Fraud Involving Debit and Credit Cards Not Via Hacking (skimming devices at point-of-service terminals, etc.)

*   HACK - Hacked by an Outside Party or Infected by Malware

*   INSD - Insider (employee, contractor or customer)

*   PHYS - Physical (paper documents that are lost, discarded or stolen)

*   PORT - Portable Device (lost, discarded or stolen laptop, PDA, smartphone, memory stick, CDs, hard drive, data tape, etc.)

*   STAT - Stationary Computer Loss (lost, inappropriately accessed, discarded or stolen computer or server not designed for mobility)

*   DISC - Unintended Disclosure Not Involving Hacking, Intentional Breach or Physical Loss (sensitive information posted publicly, mishandled or sent to the wrong party via publishing online, sending in an email, sending in a mailing or sending via fax) 

*   UNKN - Unknown (not enough information about breach to know how exactly the information was exposed)

# Mobile App Determination Testing

For more mobile centered analysis, these are a few different attempts to obtain just mobile app related data, as there are many different labels in the VCDB, but not all are clear and consistent across the entire database

In [9]:

# See just rows where asset os is known as specified as a mobile os or mobile phone asset 
# Only returns 3 rows where asset_os was actually specifed # mobile_df = df.loc[(df['plus.asset_os.Android'])|(df['plus.asset_os.Apple iOS'])|(df['plus.asset_os.BlackBerry OS'])|(df['plus.asset_os.Windows Phone'])]
mobile_df = df.loc[(df['plus.asset_os.Android'])|(df['plus.asset_os.Apple iOS'])|(df['plus.asset_os.BlackBerry OS'])|(df['plus.asset_os.Windows Phone'])|(df["asset.assets.variety.U - Mobile phone"])]
mobile_df.loc[:,["summary","notes","asset.assets.variety.U - Mobile phone"]]

,summary,notes,asset.assets.variety.U - Mobile phone
182,Incident associated with Red October campaign....,NaN,True
551,Incident associated with Red October campaign....,NaN,True
776,Incident associated with Red October campaign....,NaN,True
950,Incident associated with Red October campaign....,NaN,True
1042,"Samsung phones sent photos to random contacts,...",NaN,False
...,...,...,...
8915,Employee sends internal doc to personal email ...,NaN,True
8939,Incident associated with Red October campaign....,NaN,True
9252,Incident associated with Red October campaign....,NaN,True
9286,Incident associated with Red October campaign....,NaN,True
9348,"A rest home worker who shared ""disgusting"" pho...",NaN,True

In [10]:
# See just rows where the vector is listed as a phone
mobile_df1 = df.loc[df['action.social.vector.Phone']]
mobile_df1.loc[:,["action.social.vector.Phone","summary","notes","asset.assets.variety.U - Mobile phone"]]


# Determined to be more of where a phone was used and less involved in mobile applications

,action.social.vector.Phone,summary,notes,asset.assets.variety.U - Mobile phone
18,True,insider cop leaked infor,NaN,False
81,True,manager stole creds and used them to unlock/un...,NaN,False
450,True,"In a scam never seen before in Ontario, a Toro...",This case involved malware and social engineer...,False
558,True,data breach by which we believe a third party ...,NaN,False
761,True,Shannen Doherty: My Ex-Manager Tricked SAG Int...,NaN,False
1418,True,"Jessica D. Robinson, 39, of Brookville, was em...",NaN,False
1667,True,"Blended attack (DDoS, phishing, malware) launc...",NaN,False
2363,True,hacked and downloaded 200GB of data from the U...,NaN,False
2787,True,The Cabinet for Health and Family Services in ...,There is a conflict in how many records were r...,False
4253,True,The Wall Street Journal reports that the CEO o...,NaN,False
5143,True,Pakistan's Inter-Services Intelligence called ...,NaN,False
5525,True,A pharmacist inadvertently provided informatio...,NaN,False
5762,True,The Twitter accounts of several high-profile u...,NaN,False
5864,True,Blue Shield of California has reported a breac...,NaN,False
6103,True,"From January to March, 2013, the ring of five ...",NaN,False
7247,True,Small business owner is deceived by external a...,NaN,False
8116,True,Client management billing platform WHMCS last ...,NaN,False
8437,True,The customer database was stolen (method unkno...,NaN,False
9180,True,External actor poses as business owner to acqu...,Unsure how employer's identification informati...,False
9287,True,suspects coolly talked their way through a rec...,NaN,False

In [11]:
# See just application mentioning mobile (but not automobiles) in their notes or summaries
mobile_df2 = df[(df['summary'].str.contains('mobile')==True)|(df['notes'].str.contains('mobile')==True)|(df['action.hacking.notes'].str.contains('mobile')==True)]
mobile_df2 = mobile_df2[(mobile_df2['summary'].str.contains('automobile')==False)|(mobile_df2['notes'].str.contains('automobile')==False)|(mobile_df2['action.hacking.notes'].str.contains('automobile')==False)]
mobile_df2.loc[:,["summary","notes","action.hacking.notes"]]

,summary,notes,action.hacking.notes
106,Trion Worlds has become the latest in a long s...,NaN,NaN
124,"Stolen mobile device places PII for over 100,0...",No information provided on device other than i...,NaN
539,The Florida Department of Juvenile Justice (DJ...,NaN,NaN
609,Hospital has two instances of mobile phone usa...,NaN,NaN
678,The Vedomosti newspaper has reported that more...,NaN,NaN
...,...,...,...
8887,Ukraine's telecommunications system has come u...,NaN,Physical access is wireless broadcasting
8968,"On July 14, a hacker stole information on 1,59...",NaN,NaN
8991,Dark web sweepers Cyble has claimed that inter...,NaN,NaN
9067,As part of Hyatt Gold Passport's routine monit...,issue: 5703 victim: hyatt naics: 721110 em...,NaN
9313,bank database hacked,NaN,It looks like the hack was made targeting the ...

# ML and Pyspark Prep

In [ ]:
!pip install sparkmagic
!pip install pyspark

In [ ]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import SparkSession

from pyspark.ml import Pipeline
#from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.feature import VectorAssembler, StringIndexer, VectorIndexer, MinMaxScaler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
# Useful methods for data processing and preparation 
# mobile_df.replace({"TRUE": 1, "FALSE": 0}, inplace=True) # convert exisiting columns into one-hot columns as 1/0 instead of TRUE/FALSE for proper processing
# mobile_df.columnname.replace({"TRUE": 1, "FALSE": 0}, inplace=True) # does the same thing for for single column, here named columnname

Next Steps:


*   Get dataframe into desired format with the columns of intrest and one-hot encoding for desired Dummy Variable columns mapping to PrivacyRights.Org classifications
*   Export that dataframe into a csv so spark can be applied without having to rerun pandas mehtods previously done. Makes execution time shorter
*   Have spark read in that csv
*   Split up the dataset into percent for training (80%) and percent for testing (20%)
*   Create and fit gradient boosting model from trainging data
* Run model on testing data
*   Create a classification report with pyspark to check the accuracy